html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0 auto;
}

.gallery-parent {
    position: relative;
    margin: 0rem;

}
.gallery {
    position: relative;
    margin: 0rem;

}

.hover-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
    width: 40rem;
    
}
.hover-zoom:hover img {
    transform: scale(1.5);
    
}

.hover-gray figure img {
    filter: grayscale();
    transition: 0.5s ease-in-out;
    width: 40rem;
}
.hover-gray figure:hover img {
    filter: grayscale(0);

}

.hover-zoom-out figure img {
    filter: opacity();
    transition: 2s ease-in-out;

}

.hover-zoomout figure:hover img {
    filter: opacity(70%);

}
