html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0 auto;
}

.gallery-parent {
    position: relative;
    margin: 0rem;

}
.gallery {
    position: relative;
    margin: 0rem;

}

.hover-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
    width: 40rem;
    
}
.hover-zoom:hover img {
    transform: scale(1.5);
    
}

.hover-gray figure img {
    filter: grayscale();
    transition: 0.5s ease-in-out;
    width: 40rem;
}
.hover-gray figure:hover img {
    filter: grayscale(0);

}

.hover-opacity figure img {
    filter: opacity();
    transition: 1s ease-in-out;
    width: 40rem;

}

.hover-opacity figure:hover img {
    filter: opacity(70%);

}

.hover-gradient figure img {
    width: 40rem;
    animation: pulse 1s infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulse {
    0% {
        filter: saturate(0.2);

    }
    100% {
        filter: saturate(1);
    }
}




