html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0 auto;
}

.gallery-parent {
    text-align: center;
    margin: 0 auto;
    width: 60rem;
    height: 60rem;
}
.gallery {
    position: relative;
}
.banana {
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: 1rem;
}

.pumpkin {
    top: 20rem;
    right: -20rem;
}


.gallery:hover .banana:not(:hover) {
    transform: scale(0,9);
    opacity: 0.3;
}



